{{#if posts.length}}
{{#each posts as |post|}}
<div class="card">
  <div class="card-header">
    {{title}}

    <span id="post-date">
      {{format_date createdAt}}
    </span>
  </div>

  <div class="card-body">
    <p>{{description}}</p>

    <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
  </div>
</div>

{{!-- <article class="post">
  <div class="title">
    <a href="/" target="_blank">{{title}}</a>
    <span>({{description}})</span>
  </div>
  <div class="meta">
    {{user.username}} on {{format_date created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article> --}}
{{/each}}
{{/if}}