{{#each posts}}
<div class="card m-1">
    <div class="card-body">
        <h5 class="card-title">{{ title }}</h5>
        <p class="card-text">{{description}}</p> 
        <p class=" card-text">Posted by {{ user.username }} on {{ date_created}}</p>
        {{!-- <a href="/posts/{{ id }}" class="btn btn-primary">Read More</a> --}}
    </div>
</div>
{{/each}}





