<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Post
  </h2>
  <form class="edit-post-form">
    <div>
      <input name="post-title" type="text" value="{{post.title}}" />
      <span>({{format_url post.post_url}})</span>
    </div>
    <div>
      <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
    </div>
    <button type="submit">Save post</button>
    <button type="button" class="delete-post-btn">Delete post</button>
  </form>
</article>

<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>

{{> comments post.comments}}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>





























{{!-- <div class="container">
    <div class="row">
        <form id="blog-update-form">
            <h1 class="h3 mb-3 fw-normal">Edit Post</h1>
            <div class="form-group m-1">
                <label class="p-1" for="title-input">Title</label>
                <textarea class="form-control p-1" id="title-input">{{ post.title }}</textarea>
                <label class="p-1" for="content-input">Content</label>
                <textarea class="form-control p-1" id="content-input">{{ post.contents }}</textarea>
            </div>
            <button type="submit" class="btn btn-primary m-1" id="update-button">Update</button>
            <button type="button" class="btn btn-primary m-1" id="delete-button">Delete</button>
        </form>
    </div>
</div>
<script src="/public/js/edit.js"></script> --}}